In [ ]:
# Task 5

dict1 = {
    "april_batch":{
        "student":{
            "name":"Mike",
            "marks":{
                "python":80,
                "maths":70
            }
        }
    }
}

From the above dictionary, do the following tasks
1.access "Mike"
2.access 80
3.change "Mike" to "Your name"
4.add ML = 80 and Dl = 80

In [7]:
dict1 = {
    "april_batch":{
        "student":{
            "name":"Mike",
            "marks":{
                "python":80,
                "maths":70
            }
        }
    }
}
k = dict1["april_batch"]["student"]["name"]
l = dict1["april_batch"]["student"]["marks"]["python"]
dict1["april_batch"]["student"]["name"]="Reddy"
dict1["april_batch"]["student"]["marks"]["ML"]=80
dict1["april_batch"]["student"]["marks"]["DL"]=80
print(k,l, dict1)

Mike 80 {'april_batch': {'student': {'name': 'Reddy', 'marks': {'python': 80, 'maths': 70, 'ML': 80, 'DL': 80}}}}

In [ ]:
# "Task6 - Add and remove elements from a Tuple".

In [1]:
tup=(67,75,55,80,89)
lis=list(tup)
lis.append(99)
tup2=tuple(lis)
print(tup2)

(67, 75, 55, 80, 89, 99)

In [3]:
lis2=list(tup2)
lis2.remove(55)
tup3=tuple(lis2)
print(tup3)

(67, 75, 80, 89, 99)

In [ ]:
# Task 7
# "go through other inbuilt methods like"
1)difference() 2)symmetric_difference()

In [4]:
A={'a','b','c','d'}
B={'c','d','e'}
print(A.difference(B))
print(B.difference(A))

{'a', 'b'}
{'e'}

In [5]:
A={'a','b','c','d'}
B={'c','d','e'}
print(A.symmetric_difference(B))
print(B.symmetric_difference(A))

{'e', 'a', 'b'}
{'e', 'a', 'b'}